*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}




/* navbar section starts */
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    min-height: 50px;
}
.logo-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo-container img{
    display: flex;
    width:100 px;
    object-fit: cover;
}
        

.logo-container p{
    font-weight: 700;
    font-size: 45px;
}
.nav-item-container{
    display: flex;
    align-items: center;
    gap: 60px;
}
.nav-item-container a{
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: #3c354f; 
    font-size: 18px;
    font-weight: 500;
}
.g-span{
    color: #f6627a;
}
.btn{
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #0b02231a;
    color: #3c354f;
    border: none;
}
/* navbar section ends */

/* banner section starts */
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    background-image: url(Group\ 14.png);
    background-repeat: no-repeat;
    
  
}

.title-primary{
    color: #0B0223;
    font-size: 48px;
    font-weight: 600;

}

.banner-items{
    gap: 20px;
}
.goat-span{
    font-size: 95px;
    font-weight: 800;
    background-image: linear-gradient(to bottom,#F948B2,#8758f1);
    color: transparent;
    -webkit-background-clip: text;   

}
.banner-p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
 
}
.btn-primary{
    color: #fff;
    background-color: #FF42A5;
    padding: 21px 40px;
    gap: 10px;
    text-align: center;
    border: none;
    border-radius: 48px;
    font-size: 20px;
    font-weight: 600;

}
.btn-gorogue{
    color: #fff;
    background-color: #4EC5F7;
    padding: 21px 40px;
    gap: 10px;
    text-align: center;
    border: none;
    border-radius: 48px;
    font-size: 20px;
    font-weight: 600;
    margin-left: 20px;
    
}

/* banner section ends */

/* section-1 starts */
.section-1-container{
    display: flex;
    justify-content: space-evenly;
    

}
.section-1-item{
    text-align: right;
    margin-top: 60px;
    margin-right: 80px;
}
.span-primary{
    font-size: 48px;
    font-weight: 700;
    background-image: linear-gradient(to bottom,#F948B2,#8758f1);
    color: transparent;
    -webkit-background-clip: text;
}
.section-primary{
    color: #534C64;
    font-size: 18px;
    font-weight: 400 ;
    line-height:30px;
}

.section-1-our{
    color: #534C64;
    font-size: 24px;
    font-weight: 500;
    line-height: 10px;

}
.section-1-unleash{
    color: #534C64;
    font-size: 32px;
    font-weight: 700;
    line-height: 45px;
}

/* section-1 ends */

/* section-2 starts */

.section-2-items{
    text-align: center;
}
.section-2-card{
    display: flex;
    justify-content: center;
    padding-bottom: 39px;
    
}
.section-2-card img{
    height: 300px;
    width: 250px;
    
}
.figcaption-2{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    line-height: 30px;

}


/* section-2 ends */

/* section-3 starts */
.section-3-container{
    display: flex;
    margin: 40px;
    justify-content: space-evenly;
}
.section-3-item{
    text-align: right;
    margin-top: 200px;

}
.section-3-title{
    color: #0B0223;
    font-size:48px ;
    font-weight:700 ;
    line-height:60px ;

}
.play-span{
    color: #FF42A5 ;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
}
.section-3-images img{
    height: 634px;
    width: 650px;
    border-radius: 8px;
    margin-left: 150px ;

}
.img-badge img{
    width: 318.5px ;
    height:365.083px ;
    border-radius: 8px;
    border: 10px solid #fff;
    position: relative;
    bottom: 150px ;
   
    

}


/* section-3 ends */

/* section-4 stars */

.section-4-primary{
    display: flex;
    justify-content: center;
    gap: 60px;
    margin-bottom: 80px;
}


 .section-4-btn{
    display: flex;
    align-items: center;
    padding: 5px;
    border-radius: 50px;
    background-color: #fff;
    border: 2px solid transparent;


} 
.section-4-span{
    color: #0B0223;
    font-size: 15px;
    font-weight: 600;

}

.section-4-btn:hover{
    border: 2px solid #F948B2;
    
}

.section-4-span:hover{
    color: #F948B2;
}


/* section-4 ends */

/* footer section starts */

.footer-container{
    background-color: #0B0223;
}
.footer-1{
    display:flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 80px;
    font-weight: 700;
    font-size: 45px;
    gap: 20px;
}
.footer-1 img{
    width: 100px;
    object-fit: cover;

}
.footer-2{
    display: flex;
    justify-content: center;
    gap: 30px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.footer-3{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px;

}
.footer-3 img{
    height: 40px;
    width: 40px;
}
.footer-4{
    display: flex;
    justify-content: center;
    gap: 60px;
    color: #ffffff99;
    padding-bottom: 20px;

}
.footer-5{
    text-align: center;
    color:#ffffff99;
    padding-bottom: 50px;
}
/* footer section ends */