*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* navbar section starts */
.nav-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    min-height: 50px;
}
.logo-container{
    display: flex;
    align-items: center;
    gap: 20px;
}
.logo-container img{
    display: flex;
    width:100 px;
    object-fit: cover;
}
        

.logo-container p{
    font-weight: 700;
    font-size: 45px;
}
.nav-item-container{
    display: flex;
    align-items: center;
    gap: 60px;
}
.nav-item-container a{
    display: flex;
    gap: 20px;
    text-decoration: none;
    color: #3c354f; 
    font-size: 18px;
    font-weight: 500;
}
.g-span{
    color: #f6627a;
}
.btn{
    text-align: center;
    border-radius: 8px;
    padding: 10px 20px;
    background-color: #0b02231a;
    color: #3c354f;
    border: none;
}
/* navbar section ends */

/* banner section starts */
.banner-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
  
}
.banner-item{
    background-image: url(.images/Group 14.jpg);
    
    
}
.banner-title{
    color: #0B0223;
    text-align: center;
    font-size: 48px;
    font-weight: 600;

}
.banner-items{
    gap: 20px;
}
.goat-span{
    font-size: 95px;
    font-weight: 800;
    background-image: linear-gradient(to bottom,#F948B2,#8758f1);
    color: transparent;
    -webkit-background-clip: text;

}
.banner-p{
    color: #534C64;
    font-size: 20px;
    font-weight: 500;
    
    
}
.btn-primary{
    color: #fff;
    background-color: #FF42A5;
    padding: 21px 40px;
    gap: 10px;
    text-align: center;
    border: none;
    border-radius: 48px;

}
.btn-gorogue{
    color: #fff;
    background-color: #4EC5F7;
    padding: 21px 40px;
    gap: 10px;
    text-align: center;
    border: none;
    border-radius: 48px;


}










/* banner section ends */







/* footer section starts */

.footer-container{
    background-color: #0B0223;
}
.footer-1{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-top: 80px;
    font-weight: 700;
    font-size: 45px;
    gap: 20px;
}
.footer-1 img{
    width: 100px;
    object-fit: cover;

}
.footer-2{
    display: flex;
    justify-content: center;
    gap: 60px;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}
.footer-3{
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 30px;

}
.footer-4{
    display: flex;
    justify-content: center;
    gap: 60px;
    color: #ffffff99;
    padding-bottom: 20px;

}
.footer-5{
    text-align: center;
    color:#ffffff99;
    padding-bottom: 50px;
}
/* footer section ends */