@media screen and (max-width:425px){
    .nav-container,.logo-container,.nav-item-container,
    .nav-item-container,.banner-container,.section-1-container,.section-3-container
    {
        flex-direction: column;

    }
    .bannar-responsive,.
    {
        width: 100%;
        height: auto;
    }
    .section-1-responsive{
        width: 100%;
        height: auto;

    }
    .section-2-responsive{
        width: 100%;
        height: auto;
    }









    
    
    
    
}
@media screen and (max-width:768px) {
    
}
